# Python
.venv/
venv/
__pycache__/
*.py[cod]

# ML models and artifacts (if you don't want to commit them)
*.h5
*.pkl

# Firebase credentials
*-firebase-adminsdk-*.json

# Environment files
.env

# Node.js
node_modules/
dist/
build/

# OS / IDE
.vscode/
.DS_Store